@import "tailwindcss";

body {
  overflow: clip;
}

.fontFam, .fontFamLogo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, ;
  font-weight: 600;
}

.fontPortfolio, .fontContact{
  font-family: "Bebas Neue", sans-serif;
  font-size: 10vw;
  color: rgb(33, 33, 33);
  text-align: center;
  letter-spacing: 1.4vh;
  writing-mode: vertical-lr;
}

.portfolioSmall {
  font-family: "Bebas Neue", sans-serif;
  color: rgb(33, 33, 33);
  text-align: center;
  letter-spacing: 1.4vh;
  writing-mode: vertical-lr;
  line-height: 6rem;
  transform: translateX(-10%);
}

.fontContact {
  writing-mode: sideways-lr;
  font-size: 12vw;
}

.fontAbout {
  font-family: "Bebas Neue", sans-serif;
  font-size: 12rem;
  letter-spacing: 0.7rem;
}

.fontAbout::after {
  position: absolute;
  bottom: 0.8rem;
  left: 0;
  transform: translateX(-75%);
  content: '';
  height: 0.2rem;
  width: 200%;
  background-color: white;
}

.fontFam {
  font-size: 1.4rem;
}

.cliper {
  overflow: clip;
}

.slideUpAnim {
  animation: slideUp 0.3s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-60vh);
  }
}