@import "tailwindcss";

.fontFam, .fontFamLogo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, ;
  font-weight: 600;
}

.fontFam {
  font-size: 1.4rem;
}

.cliper {
  overflow: clip;
}